#contacts {
  padding-left: -15px;
}

.contacts-col {
  padding: 0;
}

.people {
  border: 0;
  border-radius:0px !important;
  margin: 10px;
}

.people .card-img-top {
  border-radius:0px !important;
  text-align: center;
  max-height: 346.667px;
  max-width: 346.667px;
}

.contacts-col:nth-child(odd) * {
  background-color: whitesmoke;
}

.contacts-col:nth-child(even) * {
  background-color: aliceblue;
}

.people-icon {
  padding-right: 5px;
}