/*
  Carbon Theme: Black and White

  This is base theme for IRL website.
*/

:root {
  --accent1: #EB5040;
  --accent2: #D11500;
  --accent3: #9E1000;
  --accent4: #573531;
  --accent5: #520800;
  --accent6: #100E17;
  --accent7: #212529;
  
  --navbar: black;
  --navbar-brand: #FFFFFF;
  --navbar-link: #808080;
  --navbar-link-active: #FFFFFF;
  --navbar-link-hover: #000000;
  --navbar-link-hover-background: #FFFFFF;

  --home-masthead-filter: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --home-competetion-name: #FFFFFF;
  --home-competetion-place: #FFFFFF;
  --home-competetion-date: #FFFFFF;
  --home-countdown-number: #FFFFFF;
  --home-countdown-unit: #212529;

  --footer: #000000;
  --footer-student-club-name: #FFFFFF;
  --footer-student-club-address: #cccccc;
  --footer-text: #FFFFFF;
  --footer-link: #999999;
  --footer-coded: #4682B4;
  --footer-love: #E25555;
}